.pricingScreen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pricingScreen .heading-container {
  width: 60vw;
  text-align: center;
  margin: 20px 0;
}

.pricingScreen .pricing-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}

.pricingScreen .pricing-container .pricing-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  padding: 10px 30px;
  width: 300px;
  border: 0.5px solid black;
  border-radius: var(--border-radius);
}

.pricingScreen .pricing-container .pricing-wrapper.premium {
  border: none;
  background-color: var(--primary-colour);
  color: #fff;
}

.pricingScreen .pricing-container .pricing-wrapper.premium .plan-description {
  color: #f5f5f5;
}

.pricingScreen .pricing-container .pricing-wrapper .plan-description {
  color: #535353;
}

.pricingScreen .pricing-container .pricing-wrapper .content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.pricingScreen .pricing-container .pricing-wrapper .content-wrapper .topic-container {
  gap: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.pricingScreen .pricing-container .pricing-wrapper .content-wrapper .topic-container .content-flag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 22px;
  height: 22px;
  border-radius: 100%;
}

.pricingScreen .pricing-container .pricing-wrapper .content-wrapper .topic-container .content-flag.success {
  background-color: #42ba967c;
}

.pricingScreen .pricing-container .pricing-wrapper .content-wrapper .topic-container .content-flag.amber {
  background-color: #ffbf007c;
}

.pricingScreen .pricing-container .pricing-wrapper .content-wrapper .topic-container .content-flag.danger {
  background-color: #df47597c;
}

.pricingScreen .pricing-container .pricing-wrapper .content-wrapper .sub-content-container {
  margin-top: 20px;
  margin-left: 20px;
}

.pricingScreen .pricing-container .pricing-wrapper .content-wrapper .sub-content-container .sub-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  border-bottom: 0.5px solid black;
  cursor: pointer;
}

.pricingScreen .pricing-container .pricing-wrapper .content-wrapper .sub-content-container .sub-content div > div {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

.pricingScreen .pricing-container .pricing-wrapper .content-wrapper .sub-content-container .sub-content div > div p {
  white-space: nowrap;
}

.pricingScreen .pricing-container .pricing-wrapper .content-wrapper .sub-content-container .sub-content div > div p:last-of-type {
  margin-left: 5px;
  color: var(--success-colour);
}

.pricingScreen .pricing-container .pricing-wrapper .content-wrapper .sub-content-container .sub-content.selected {
  background-color: #f3f3f3;
}

.pricingScreen .pricing-container .pricing-wrapper .content-wrapper .sub-content-container .sub-content div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pricingScreen .pricing-container .pricing-wrapper .content-wrapper .sub-content-container .sub-content:hover {
  background-color: #f3f3f3;
}

.pricingScreen .pricing-container .pricing-wrapper .content-wrapper .sub-content-container .sub-content:last-of-type {
  border-bottom: none;
}

.pricingScreen .pricing-container .button-container {
  margin-top: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}
/*# sourceMappingURL=pricingScreen.css.map */