.super-container {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

@media screen and (max-width: 768px) {
	.super-container {
		margin-top: 50px;
	}
}

@media screen and (max-width: 320px) {
	.super-container {
		margin-top: 50px;
	}
}

.body-container {
	flex: 1;
	margin-top: 40px;
}

.empty-container {
	display: flex;
	flex-grow: 1;
	width: 100vw;
	justify-content: center;
	align-items: center;
}
