@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

:root {
	--primary-colour: #061f93;
	--secondary-colour: #7373b8;
	--accent-colour: #e9e9fa;
	--light-colour: #fff;
	--dark-colour: #000;
	--danger-colour: #df4759;
	--success-colour: #42ba96;
	--grey-colour: #808080;
	--lightgrey-colour: #d3d3d3;
	--background-colour: #f4f4f4;
	--edit-colour: #00acee;
	--product-width: 200px;
	--product-height: 300px;
	--navigationBar-height: 80px;
	--tab-width: 400px;
	--side-navigationBar-width: 200px;
	--fontSize-xs: 11px;
	--fontSize-small: 14px;
	--fontSize-medium: 18px;
	--fontSize-large: 24px;
	--border-radius: 6px;
	--product-width-small: 135px;
	--product-height-small: 202.5px;
	--box-shadow: 0px 0px 3px 0 var(--grey-colour);
}

* {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu,
		Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	font-size: var(--fontSize-medium);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	text-transform: lowercase;
}

h1 {
	font-size: 64px;
	font-weight: bold;
}
h2 {
	font-size: 32px;
	font-weight: bold;
}
h3 {
	font-size: var(--fontSize-medium);
}
h4 {
	font-size: var(--fontSize-medium);
	font-weight: normal;
}
h5 {
	font-size: var(--fontSize-small);
	font-weight: normal;
}

p {
	font-size: var(--fontSize-medium);
	font-weight: normal;
}

body {
	margin: 0;
	/* font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif; */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

*:focus {
	outline: none;
}

button {
	border: none;
}

a {
	text-decoration: none;
	color: inherit;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

.content-body {
	padding: 0 70px;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.content-container {
	width: 60vw;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	margin-left: auto;
	margin-right: auto;
}

.message-error {
	color: red;
	display: flex;
	align-items: center;
	gap: 5px;
}
.inline-container {
	padding: 5px 8px;
	background-color: var(--primary-colour);
	color: var(--light-colour);
	display: inline-flex;
	justify-content: center;
	align-items: center;
	border-radius: 6px;
	font-size: var(--fontSize-small);
}

.product-wrapper {
	display: flex;
	flex-wrap: wrap;
	/* display: grid; */
	/* grid-template-columns: repeat(6, var(--product-width)); */
	width: 100%;
	justify-content: space-between;
}

@media screen and (max-width: 768px) {
	.product-wrapper {
		/* grid-template-columns: repeat(3, var(--product-width)); */
	}
	.content-container {
		width: 80vw;
	}
}

@media screen and (max-width: 320px) {
	.product-wrapper {
		/* grid-template-columns: repeat(2, var(--product-width-small)); */
	}
	h1 {
		font-size: 48px;
	}
	.content-container {
		width: calc(100vw - 20px);
		box-sizing: border-box;
		margin: 0 10px;
	}
}

.navbar-adjustment {
	margin-top: 90px;
}

/* loader */

.lds-ring {
	display: inline-block;
	position: relative;
	width: 80px;
	height: 80px;
}
.lds-ring div {
	box-sizing: border-box;
	display: block;
	position: absolute;
	width: 64px;
	height: 64px;
	margin: 8px;
	border: 8px solid #000;
	border-radius: 50%;
	animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	border-color: #000 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
	animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
	animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
	animation-delay: -0.15s;
}
@keyframes lds-ring {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
