@mixin respond($breakpoint) {
	@if ($breakpoint == medium) {
		@media (max-width: 768px) {
			@content;
		}
	}
	@if ($breakpoint == small) {
		@media (max-width: 520px) {
			@content;
		}
	}
}

.product-container {
	flex-basis: var(--product-width) !important;
	max-width: var(--product-width) !important;
	@include respond(small) {
		// background-color: red;
		flex-basis: var(--product-width-small) !important;
		max-width: var(--product-width-small) !important;
	}
	.details-container {
		margin-top: 10px;
		display: flex;
		.details-text {
			display: flex;
			flex-direction: column;
			// background-color: red;
			margin-right: auto;
			text {
				text-transform: capitalize;
			}
			.productname {
				font-weight: 700;
			}
		}
	}
	.image-container {
		width: 100%;
		height: var(--product-height);
		border-radius: var(--border-radius);
		overflow: hidden;
		background-color: var(--background-colour);
		@include respond(small) {
			height: var(--product-height-small);
		}
	}
	.image {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.brandImage {
		width: 25px;
		height: 25px;
		border-radius: 20px;
		object-fit: cover;
	}
}
