@mixin respond($breakpoint) {
	@if ($breakpoint == medium) {
		@media (max-width: 768px) {
			@content;
		}
	}
	@if ($breakpoint == small) {
		@media (max-width: 320px) {
			@content;
		}
	}
}

.addProduct-container {
	padding: 10px;
	width: 60%;
	// width: 90%;
	display: flex;
	flex-direction: column;
	form {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}
	margin-left: auto;
	margin-right: auto;
	@include respond(medium) {
		width: 85%;
	}
	@include respond(small) {
		width: 90%;
	}
	> div {
		display: flex;
		flex-direction: row;
		flex: 1;
		width: 100%;
		// background-color: red;
	}
	.name-price-container {
		display: flex;
		gap: 10px;
		width: 100%;
		& > div {
			width: 100%;
		}
		@include respond(small) {
			flex-direction: column;
		}
	}
	.button-container {
		display: flex;
		margin-left: auto;
		justify-content: flex-end;
		flex-direction: row;
		// background-color: red;
	}
	.imageselector-container {
		display: flex;
		flex-wrap: wrap;
		gap: 10px;
		@include respond(small) {
			justify-content: space-between;
		}
	}
}

.imageViewer {
	&:last-of-type {
		margin-right: 10px;
	}
	position: relative;
	.image-container {
		border-radius: var(--border-radius) !important;
		position: relative;
		width: var(--product-width);
		height: var(--product-height);
		background-color: gold;
		overflow: hidden;
		@include respond(small) {
			width: var(--product-width-small);
			height: var(--product-height-small);
		}
		.image-item {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	.button {
		position: absolute;
		border-radius: 100%;
		width: 20px;
		height: 20px;
		display: flex;
		justify-content: center;
		align-items: center;
		top: -10px;
		left: -10px;
		cursor: pointer;
		margin: 0;
		background-color: black;
		color: white;
	}
}
.imagePicker-container {
	cursor: pointer;
	.image-container {
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: var(--border-radius) !important;
		width: var(--product-width);
		height: var(--product-height);
		background-color: #f3f3f3;
		// object-fit: cover;
		@include respond(small) {
			width: var(--product-width-small);
			height: var(--product-height-small);
		}
	}
}
