.navigationBar-container {
	flex-grow: 0;
	z-index: 99;
	position: sticky;
	// width: calc(100vw - 140px);
	width: calc(100% - 140px);
	top: 0px;
	left: 0px;
	padding: 20px 70px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background-color: #fff;
	// background-color: purple;
	& > div {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		margin-left: 32px;
		& > div {
			display: flex;
			align-items: center;
		}
	}
	.search-box-container {
		display: flex;
		padding-left: 5px;
		padding-right: 5px;
	}
	.logo-container {
		display: flex;
		align-items: center;
		img {
			width: 40px;
			height: 40px;
			margin-right: 10px;
		}
		.brandName {
			font-weight: bold;
			font-size: var(--fontSize-large);
		}
	}
	.options-container {
		display: flex;
		padding-right: 32px;
		gap: 32px;
	}
	.account-container {
		display: flex;
		align-items: center;
		.details {
			position: relative;
			.shortForm-info-container {
				cursor: pointer;
				display: flex;
				align-items: center;
				gap: 5px;

				// .account-image,
				// .account-placeholder {
				// 	width: 24px;
				// 	height: 24px;
				// }
			}
		}
	}
}

.unRead-bubble {
	width: 20px;
	height: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--success-colour);
	border-radius: 100%;
	line-height: 100%;
}

.navigationBar-brand-text {
	font-size: 1.2rem;
	font-weight: bold;
}

.navigationBar-category-container {
	display: flex;
	flex-direction: row;
	// background-color: #fff;
	justify-content: space-between;
	align-items: center;
}

.navigationBar-tab-wrapper {
	padding: 5px;
	margin-left: 2px;
	margin-right: 2px;
	// background-color: dodgerblue;
	border-radius: 4px;
	.navigationBar-tab-text {
		font-size: 1.1rem;
		text-transform: capitalize;
	}
}

.navigationBar-search-btn {
	padding: 10px;
	background-color: transparent;
}

.navigationBar-account-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	text {
		margin-right: 10px;
		text-transform: capitalize;
		font-size: 1.1rem;
	}
}

.accountDropdown-container {
	z-index: 99;
	background-color: red;
	padding: 10px;
	display: inline-block;
	min-width: 300px;
	&::after {
		content: "";
		width: 0px;
		height: 0px;
		border: 10px solid white;
		border-right-color: transparent;
		border-bottom-color: transparent;
		position: absolute;
		top: -9px;
		transform: rotate(45deg);
		box-shadow: -1px -1px 2px 0px var(--lightgrey-colour);
		// z-index: -1;
	}
	display: flex;
	flex-direction: column;
	// position: relative;
	position: absolute;
	top: 45px;
	// left: 10px;
	background-color: var(--light-colour);
	border-radius: 6px;
	box-shadow: 0 0 2px 2px var(--lightgrey-colour);
	padding: 10px;
	.main-container {
		// cursor: pointer;
		// display: flex;
		align-items: center;
		// gap: 5px;
		display: flex;
		flex-direction: row;
		flex: 1;

		.details-container {
			cursor: auto;
			margin-left: 8px;
			.options-minor-container {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				justify-content: flex-start;
			}
			.accountName-container {
				display: flex;
				.accountName-wrapper {
					position: relative;

					.editUsername-input {
						border: none;
						border-bottom: 1px solid var(--dark-colour);
					}
					.mini-loader {
						width: 10px;
						height: 10px;
						background-color: var(--dark-colour);
						position: absolute;
						top: 5px;
						right: 10px;
						animation: loader 1s ease-in-out infinite;
					}
				}
			}
			p {
				font-size: var(--fontSize-small);
			}
		}

		.camera-container {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 32px;
			height: 32px;
			background-color: var(--grey-colour);
			border-radius: 50%;
			margin: 0 !important;
		}
		.edit {
			// background-color: var(--background-colour);
			// width: 32px;
			// height: 32px;
			// display: flex;
			// border-radius: 50%;
			// justify-content: center;
			// align-items: center;
			color: var(--edit-colour);
			font-size: var(--fontSize-small);
			background-color: transparent;
			margin-left: 5px;
			cursor: pointer;
			&:hover {
				text-decoration: underline;
			}
		}
	}
	hr {
		margin: 8px 0;
	}
	.option {
		// cursor: pointer;
		// display: flex;
		// align-items: center;
		// gap: 5px;
		display: flex;
		align-items: center;
		cursor: pointer;
		padding: 10px 5px;
		margin: 2px;
		border-radius: 6px;
		justify-content: space-between;
		.option-details-container {
			display: flex;
			cursor: pointer;
			align-items: center;
			justify-content: flex-start;
			gap: 5px;
		}
		&:hover {
			background-color: var(--background-colour);
		}
	}
}

@keyframes loader {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
