.navigationBar-container {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  z-index: 99;
  position: -webkit-sticky;
  position: sticky;
  width: calc(100% - 140px);
  top: 0px;
  left: 0px;
  padding: 20px 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
}

.navigationBar-container > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-left: 32px;
}

.navigationBar-container > div > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigationBar-container .search-box-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 5px;
  padding-right: 5px;
}

.navigationBar-container .logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigationBar-container .logo-container img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.navigationBar-container .logo-container .brandName {
  font-weight: bold;
  font-size: var(--fontSize-large);
}

.navigationBar-container .options-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 32px;
  gap: 32px;
}

.navigationBar-container .account-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigationBar-container .account-container .details {
  position: relative;
}

.navigationBar-container .account-container .details .shortForm-info-container {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}

.unRead-bubble {
  width: 20px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--success-colour);
  border-radius: 100%;
  line-height: 100%;
}

.navigationBar-brand-text {
  font-size: 1.2rem;
  font-weight: bold;
}

.navigationBar-category-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigationBar-tab-wrapper {
  padding: 5px;
  margin-left: 2px;
  margin-right: 2px;
  border-radius: 4px;
}

.navigationBar-tab-wrapper .navigationBar-tab-text {
  font-size: 1.1rem;
  text-transform: capitalize;
}

.navigationBar-search-btn {
  padding: 10px;
  background-color: transparent;
}

.navigationBar-account-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigationBar-account-container text {
  margin-right: 10px;
  text-transform: capitalize;
  font-size: 1.1rem;
}

.accountDropdown-container {
  z-index: 99;
  background-color: red;
  padding: 10px;
  display: inline-block;
  min-width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 45px;
  background-color: var(--light-colour);
  border-radius: 6px;
  -webkit-box-shadow: 0 0 2px 2px var(--lightgrey-colour);
          box-shadow: 0 0 2px 2px var(--lightgrey-colour);
  padding: 10px;
}

.accountDropdown-container::after {
  content: "";
  width: 0px;
  height: 0px;
  border: 10px solid white;
  border-right-color: transparent;
  border-bottom-color: transparent;
  position: absolute;
  top: -9px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-box-shadow: -1px -1px 2px 0px var(--lightgrey-colour);
          box-shadow: -1px -1px 2px 0px var(--lightgrey-colour);
}

.accountDropdown-container .main-container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.accountDropdown-container .main-container .details-container {
  cursor: auto;
  margin-left: 8px;
}

.accountDropdown-container .main-container .details-container .options-minor-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.accountDropdown-container .main-container .details-container .accountName-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.accountDropdown-container .main-container .details-container .accountName-container .accountName-wrapper {
  position: relative;
}

.accountDropdown-container .main-container .details-container .accountName-container .accountName-wrapper .editUsername-input {
  border: none;
  border-bottom: 1px solid var(--dark-colour);
}

.accountDropdown-container .main-container .details-container .accountName-container .accountName-wrapper .mini-loader {
  width: 10px;
  height: 10px;
  background-color: var(--dark-colour);
  position: absolute;
  top: 5px;
  right: 10px;
  -webkit-animation: loader 1s ease-in-out infinite;
          animation: loader 1s ease-in-out infinite;
}

.accountDropdown-container .main-container .details-container p {
  font-size: var(--fontSize-small);
}

.accountDropdown-container .main-container .camera-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 32px;
  height: 32px;
  background-color: var(--grey-colour);
  border-radius: 50%;
  margin: 0 !important;
}

.accountDropdown-container .main-container .edit {
  color: var(--edit-colour);
  font-size: var(--fontSize-small);
  background-color: transparent;
  margin-left: 5px;
  cursor: pointer;
}

.accountDropdown-container .main-container .edit:hover {
  text-decoration: underline;
}

.accountDropdown-container hr {
  margin: 8px 0;
}

.accountDropdown-container .option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  padding: 10px 5px;
  margin: 2px;
  border-radius: 6px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.accountDropdown-container .option .option-details-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 5px;
}

.accountDropdown-container .option:hover {
  background-color: var(--background-colour);
}

@-webkit-keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/*# sourceMappingURL=navigationBar.css.map */