@mixin respond($breakpoint) {
	@if ($breakpoint == medium) {
		@media (max-width: 768px) {
			@content;
		}
	}
	@if ($breakpoint == small) {
		@media (max-width: 320px) {
			@content;
		}
	}
}

.accountScreen {
	// height: 100vh;
	// max-height: 100%;
	@include respond(medium) {
		padding: 0 30px;
	}

	@include respond(small) {
		padding: 0 10px;
	}
	.messageAlert-container {
		width: 100vw;
		display: flex;
		flex: 1;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		p {
			text-align: center;
		}
	}
	.accountImage {
		width: 100%;
		// min-width: 90px;
		height: 200px;
		border-radius: 6px;
		object-fit: cover;
	}

	.account-wrapper {
		flex: 1;
		display: flex;
		flex-direction: column;
		.details {
			// max-width: 530px;
			position: relative;
			margin-bottom: 40px;
			// width: 100%;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			.name-container {
				display: flex;
				justify-content: space-between;
				flex-direction: row;
				@include respond(small) {
					flex-direction: column-reverse;
				}
				h2 {
					width: fit-content;
					// flex-grow: 1;
				}
				& > div {
					// width: fit-content;
					// flex: -1;
					display: flex;
					justify-content: flex-start;
					margin-left: auto;
					.clientLimit-container {
						width: fit-content;
						padding: 5px;
						border-radius: var(--border-radius);
						background-color: var(--background-colour);
						margin-right: 10px;
						display: flex;
						justify-content: center;
						align-items: center;
						gap: 5px;
					}
				}
			}
			.content-container {
				// margin-left: 10px;
				margin-top: 10px;
				width: 100%;
				div {
					margin: 0;
					display: flex;
					justify-content: space-between;
				}
				.description {
					font-weight: normal;
				}
			}
		}
		.product-section {
			flex: 1;
			display: flex;
			flex-direction: column;
			h1 {
				justify-self: flex-start;
				align-self: flex-start;
				font-size: var(--fontSize-large);
				margin-bottom: 10px;
			}
			.empty-container {
				display: flex;
				width: 100%;
				flex: 1;
				justify-content: center;
				align-items: center;
				flex-direction: column;
			}
		}
	}
	.category-container {
		flex: 1;
		width: 60vw;
	}
	&-productDetails-container {
		position: absolute;
		display: flex;
		flex: 1;
		width: 100vw;
		height: 100vh;
		background-color: dodgerblue;
	}
}

.tagPicker {
	.option-wrapper {
		cursor: pointer;
		padding: 10px;
		border-radius: var(--border-radius);
		background-color: var(--background-colour);
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.options {
		margin: 5px 0;
		display: flex;
		flex-wrap: wrap;
		gap: 5px;
	}
}
