.categoryPicker-container {
	display: flex;
	position: relative;
	// background-color: red;
	.picker-wrapper {
		position: absolute;
		top: 60px;
		// left: 5px;
		right: 2px;
		padding: 10px;
		// width: calc((100% - 20px) / 3 * 2);
		border-radius: 5px;
		background-color: var(--secondary-colour);
		max-height: 400px;
		overflow-x: auto;
		li {
			list-style: none;
			padding: 10px;
			text-transform: capitalize;
			&:hover {
				border-radius: 2px;
				background-color: var(--accent-colour);
			}
		}
	}
}
